In [8]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

# Load dataset
file_path = "movies.csv"  # Replace with your actual file path
movies = pd.read_csv(file_path)

# Select relevant columns for preprocessing
columns_to_use = ['title', 'genres', 'user_rating', 'keywords', 'director', 'adult']
data = movies[columns_to_use]

# Handle missing values
# Drop rows with missing essential fields
data = data.dropna(subset=['title', 'user_rating'])

# Fill missing values in categorical columns with a placeholder
data['genres'] = data['genres'].fillna('Unknown')
data['keywords'] = data['keywords'].fillna('Unknown')
data['director'] = data['director'].fillna('Unknown')
data['adult'] = data['adult'].fillna(0)  # Assuming adult is binary, replace with 0

# Normalize numerical data
scaler = MinMaxScaler()
data['user_rating'] = scaler.fit_transform(data[['user_rating']])

# Encode categorical features
# Split genres into a list and perform one-hot encoding
data['genres'] = data['genres'].str.split(', ')
genres_one_hot = data['genres'].explode().str.get_dummies().groupby(level=0).sum()
data = pd.concat([data, genres_one_hot], axis=1)

# Remove duplicates
# Remove duplicate entries based on the title
data = data.drop_duplicates(subset='title', keep='first')

# Save cleaned dataset
output_file = "cleaned_movies.csv"
data.to_csv(output_file, index=False)

print(f"Cleaned dataset saved to {output_file}")

Cleaned dataset saved to cleaned_movies.csv

In [4]:
a.describe()

       release_year  user_rating        adult
count   5983.000000  6000.000000  6000.000000
mean    2009.409494     6.397730     0.169167
std       15.979994     1.479479     0.374930
min     1915.000000     0.000000     0.000000
25%     2003.000000     6.000000     0.000000
50%     2014.000000     6.600000     0.000000
75%     2022.000000     7.200000     0.000000
max     2027.000000    10.000000     1.000000

In [5]:

a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6000 entries, 0 to 5999
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         6000 non-null   object
 1   genres        5969 non-null   object
 2   release_year  5983 non-null   float64
 3   user_rating   6000 non-null   float64
 4   keywords      5487 non-null   object
 5   director      5962 non-null   object
 6   description   5953 non-null   object
 7   poster_url    6000 non-null   object
 8   trailer_url   5304 non-null   object
 9   adult         6000 non-null   int64
dtypes: float64(2), int64(1), object(7)
memory usage: 468.9+ KB